@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  html, body {
    height: auto !important;
    overflow: visible !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;
  }
  * {
    overflow: visible !important;
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
}